<div class="section-block logos-3">
  <div class="row">
    <div class="column width-12">
      <!-- <h5>Recent Clients</h5> -->
      <div class="row content-grid-5">
        <div class="grid-item">
          <a href="#">
            <img src="/images/logos/petplace.png" alt=""/>
          </a>
        </div>
        <div class="grid-item">
          <a href="#">
            <img src="/images/logos/expensebot.png" alt=""/>
          </a>
        </div>
        <div class="grid-item">
          <a href="#">
            <img src="/images/logos/viperks.png" alt=""/>
          </a>
        </div>
        <div class="grid-item">
          <a href="#">
            <img src="/images/logos/bradysigns.png" alt=""/>
          </a>
        </div>
        <div class="grid-item">
          <a href="#">
            <img src="/images/logos/performanceadmincorp.png" alt=""/>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>