<form class="notransition featured-media-subscribe" action='https://ngagecontent.curated.co/email_subscribers' id='subscribe-form' method='post' style="margin-top: 40px;">
	<div class="form-group">
	  <div class="row">
	    <div class="column width-12">
	      <input class="form-element" id='subscribe-email' name='email' type='email' placeholder="Enter your email."/>
	    </div>
	    <div class="column width-12">
	       <input type='submit' class="form-submit button medium border-white bkg-hover-turquoise color-white color-hover-white" onclick="this.form.submit(); this.disabled=true; this.value='Sending...';" value='Subscribe and Get Tips Twice a Month'/>
	    </div>
	  </div>
	</div>
</form>
