<footer class="footer-1 footer reveal-side-navigation">
  <div class="footer-top left">
    <div class="row">
      <div class="column width-12">
        <div class="footer-logo">
          <a href="/"><img src="/images/logo-mark.png" alt="Nietzsche Logo" /></a>
        </div>
      </div>
      <div class="column width-5">
        <div class="footer-top-inner">
          <h3>NGAGECONTENT</h3>
          <p>Sed at ligula id turpis convallis dignissim. Sed ac leo id risus cursus tincidunt. Sed aliquet tortor nec leo iaculis placerat. Donec egestas ullamcorper sapien a sagittis. Quisque non consequat nulla. Duis iaculis tellus eu elit placerat, quis tempor nisl fermentum. Integer posuere tortor eget rhoncus commodo. Suspendisse pulvinar.</p>
        </div>
      </div>
      <div class="column width-3 push-1">
        <div class="footer-top-inner">
          <h3>LOREMASTA VUIT</h3>
          <p>Sed at ligula id turpis convallis dignissim. Sed ac leo id risus cursus tincidunt. Sed aliquet tortor nec leo iaculis placerat. Donec egestas ullamcorper sapien a sagittis. Quisque non consequat nulla.</p>
        </div>
      </div>
      <div class="column width-3 push-1">
        <div class="footer-top-inner">
          <h3>DUIS AUTEM</h3>
          <p>Sed at ligula id turpis convallis dignissim. Sed ac leo id risus cursus tincidunt. Sed aliquet tortor nec leo iaculis placerat. Donec egestas ullamcorper sapien a sagittis. Quisque non consequat nulla.</p>
        </div>
      </div>
      
    </div>
  </div>
  <div class="footer-bottom left">
    <div class="row">
      <div class="column width-12">
        <div class="footer-bottom-inner">
          <p class="copyright no-margin-bottom">&copy; 2015 NGAGECONTENT. All Rights Reserved.</p>
          <!-- <ul class="social-list list-horizontal">
            <li><a href="#">Facebook</a>/</li>
            <li><a href="#">Twitter</a>/</li>
            <li><a href="#">Behance</a>/</li>
            <li><a href="#">Google+</a></li>
          </ul> -->
        </div>
      </div>
    </div> 
  </div>
</footer>
