<footer class="footer-1 footer reveal-side-navigation">
  <div class="footer-top left">
    <div class="row">
      <div class="column width-12">
        <div class="footer-logo">
          <a href="/"><img src="/images/logo-mark.png" alt="Nietzsche Logo" /></a>
        </div>
      </div>
      <div class="column width-7">
        <div class="footer-top-inner">
          <h3>NGAGECONTENT</h3>
          <p>Ngage is an inbound marketing services and technology company that helps connect you to your audience. We focus on learning about your company and your audience so that we can attract, convert and delight more leads to help you grow your bottom line.</p>
        </div>
      </div>
      <div class="column width-2 push-1">
        <div class="footer-top-inner">
          <h3>MORE INFO</h3>
          <ul class="social-list">
            {% for link in site.links %}
                <li class="navigation">
                    <a href="{{ link.url }}">{{ link.title }}</a>
                </li>
            {% endfor %}
          </ul>
        </div>
      </div>
      <div class="column width-2 push-1">
        <div class="footer-top-inner">
          <h3>CONNECT</h3>
          <ul class="social-list">
            {% if site.social.twitter %}
            <li><a href="{{ site.social.twitter }}" target="_blank"><i class="fa fa-twitter"></i> Twitter</a></li>
            {% endif %}
            {% if site.social.facebook %}
            <li><a href="{{ site.social.facebook }}" target="_blank"><i class="fa fa-facebook"></i> Facebook</a></li>
            {% endif %}
            {% if site.social.linkedin %}
            <li><a href="{{ site.social.linkedin }}" target="_blank"><i class="fa fa-linkedin"></i> LinkedIn</a></li>
            {% endif %}
            {% if site.social.google_plus %}
            <li><a href="{{ site.social.google_plus }}" target="_blank"><i class="fa fa-google-plus"></i> Google+</a></li>
            {% endif %}
            {% if site.social.instagram %}
            <li><a href="{{ site.social.instagram }}" target="_blank"><i class="fa fa-instagram"></i> Instagram</a></li>
            {% endif %}
          </ul>
        </div>
      </div>

    </div>
  </div>
  <div class="footer-bottom left">
    <div class="row">
      <div class="column width-12">
        <div class="footer-bottom-inner">
          <p class="copyright no-margin-bottom">&copy; 2016 Beegit, LLC dba NgageContent. All Rights Reserved.</p>
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript">
  	var trackcmp_email = '';
  	var trackcmp = document.createElement("script");
  	trackcmp.async = true;
  	trackcmp.type = 'text/javascript';
  	trackcmp.src = '//trackcmp.net/visit?actid=609606536&e='+encodeURIComponent(trackcmp_email)+'&r='+encodeURIComponent(document.referrer)+'&u='+encodeURIComponent(window.location.href);
  	var trackcmp_s = document.getElementsByTagName("script");
  	if (trackcmp_s.length) {
  		trackcmp_s[0].parentNode.appendChild(trackcmp);
  	} else {
  		var trackcmp_h = document.getElementsByTagName("head");
  		trackcmp_h.length && trackcmp_h[0].appendChild(trackcmp);
  	}
</script>
</footer>
