<header class="site-header">
  <div class="overlay-navigation-wrapper">
    <div class="overlay-navigation-inner">
      <div class="overlay-navigation-header row full-width">
        <div id="overlay-nav-hide" class="navigation-hide">
          <a href="#">
            <span class="icon-cancel medium"></span>
          </a>
        </div>
      </div>
      <nav class="overlay-navigation">
        <ul>
          {% for link in site.links %}
            <li>
                <a href="{{ link.url }}">{{ link.title }}</a>
            </li>
            {% endfor %} 
        </ul>
      </nav>
      <div class="overlay-navigation-footer row full-width">
        <div class="column width-12">
          <p class="copyright no-margin-bottom">&copy; 2015 NGAGECONTENT. All Rights Reserved.</p>
        </div>
      </div>
    </div>
  </div>
</header>
<header class="header-4 header" data-sticky-threshold="window-height" data-bkg-threshold="window-height">
  <div class="header-inner">
    <div class="row nav-bar reveal-side-navigation">
      <div class="column width-12 nav-bar-inner">
        <div class="logo">
          <a href="/"><img src="/images/logo-mark.png" alt="NgageContent Logo"/> <span style="color: #2fb3b8;">NGAGE</span><span style="color: #768d92;">CONTENT</span></a>
        </div>
        <div id="overlay-nav-show" class="navigation-show">
          <a href="#">
            <span class="icon-menu medium"></span>
          </a>
        </div>
        <nav class="navigation">
          <ul>
            <li>
              <a href="/blog">Blog</a>
            </li>
            <li>
              <a href="/subscribe">Subscribe</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</header>
