<head>
	<meta charset="UTF-8" />
	<meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0" name="viewport">
	<title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
	<link rel="shortcut icon" type="image/x-icon" href="/images/favicon.ico">

	<!-- Font -->
	<link href='https://fonts.googleapis.com/css?family=Montserrat+Alternates:400,700' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,700,700italic' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

	
	<!-- Css -->
	<link rel="stylesheet" href="/css/timber.css" />
	<link rel="stylesheet" href="/css/snowbridge.css" />
	<link rel="stylesheet" href="/css/avalanche.css" />
	<link rel="stylesheet" href="/css/templates.css" />
	<link rel="stylesheet" href="/css/skin.css" />

	<!-- Js -->
	<script src="/js/jquery-1.11.2.min.js"></script>
	<script src="http://maps.googleapis.com/maps/api/js?v=3"></script>
	<script src="/js/timber.master.min.js"></script>
	<script src="/js/template-functions.js"></script>

	<!--[if lt IE 9]>
    	<script type="text/javascript" src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Subscribe Better -->
    <link rel="stylesheet" type="text/css" href="/css/subscribe-better.css" />
    <script type="text/javascript" src="/js/jquery.subscribe-better.js"></script>


</head>
