<div class="section-block bkg-turquoise subscribe-box">
  <div class="row medium">
    <div class="column width-10 offset-1">
        {% if page.keyword  == null %}
          <h2 class="text-uppercase">Subscribe today!</h2>
          <p class="weight-light color-white">Get tips and action items on better marketing results delivered to your inbox twice a month. Unsubscribe any time.</p>
          {% else %}
          <h2 class="text-uppercase">Want to learn more about <strong>{{page.keyword}}?</strong></h2>
          <p class="weight-light color-white">Subscribe today and get tips and action items on better marketing results delivered to your inbox twice a month.</p>
        {% endif %}
    </div>
    <div class="column width-10 offset-1">
      <form class="form-inline" action='https://ngagecontent.curated.co/email_subscribers' id='subscribe-form' method='post'>
        <div class="form-group">
          <div class="row">
            <div class="column width-12">
              <input class="form-element" id='subscribe-email' name='email' type='email' placeholder="Enter your email"/>
            </div>
            <div class="column width-12">
               <input type='submit' class="form-submit large button bkg-charcoal bkg-hover-charcoal color-white color-hover-white" onclick="this.form.submit(); this.disabled=true; this.value='Sending...';" value='Subscribe'/>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
