---
layout: default
---

<!-- Content -->
<div class="content clearfix reveal-side-navigation">

	<!-- Parallax Section -->
	<div class="section-block featured-media">
		<div class="parallax fullscreen" data-src="{{ page.image }}" alt="{{page.keyword}}" title ="{{page.keyword}}">
			<div class="tmp-content">
				<div class="tmp-content-inner left">
					<div class="row">
						<div class="column width-12">
							<h1 class="horizon letter-spaced weight-bold color-white no-margin-bottom inline" 
								data-animate-in="opacity:0;scale:1.5;duration:400ms;easing:swing;">
								<span class="text-uppercase">{{ page.title }}</span>
							</h1>
							<div class="clear"></div>
							<span class="horizon text-medium letter-spaced weight-light color-white no-margin-bottom" 
								data-animate-in="opacity:0;transY:30px;duration:400ms;delay:200ms;easing:swing;">
								{% assign author = site.data.authors[page.author] %}
								{% if author %}
				                <span style="text-transform: uppercase;">By {{ author.name }} on {{ page.date | date: "%b %-d, %Y"}}</span>
				            	{% endif %}
							</span>
							{% include featured-media-signup.html %} 
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Parallax Section End -->

	<div class="section-block row">

		<!-- Content Inner -->
		<div class="column width-7 content-inner blog-single-post">
			<article class="post">

				<!-- Post Content -->
				<div class="post-content">
					{% capture url %}{{ site.url }}{{ page.url }}{% endcapture %}
		            {% if page.shortUrl != null %}
		                {% assign url = page.shortUrl %}
		            {% endif %}
					{% include social-share.html%}
					{{ content }}
				</div>
			</article>

			{% include signup-block.html %}

			<!-- Post Author -->
			{% if author %}
			<div class="post-author">
				<article class="author-bio">
					<div class="author-avatar">
						<img src="{{ author.gravatar }}" alt="Avatar"/>
					</div>
					<div class="author-content">
						<h5 class="name">By {{ author.name }}</h5>
						<p>{{ author.details }}</p>
					</div>
				</article>
			</div>
			{% endif %}
		</div>


		<!-- Sidebar -->
		<aside class="column width-4 push-1 sidebar">
			<div class="sidebar-inner">
				<div class="widget">
					<h3 class="widget-title text-uppercase">Recent Posts</h3>
					<ul class="posts ">  
						{% for post in site.posts limit:4 %}  
						   <li class="navigation">  
						   	<a href="{{ BASE_PATH }}{{ post.url }}"><img src="{{ post.image }}"></a>
						   <a href="{{ BASE_PATH }}{{ post.url }}"  class="title">{{ post.title }}</a>  
						   </li>  
						{% endfor %}  
					</ul>
				</div>
				<div class="widget signup"> 
				   	{% include signup-widget.html %}
				</div>
				{% if content and page.related %}
				<div class="widget related">
					<h3 class="widget-title text-uppercase">Related Posts</h3>
					<ul class="posts">  
					    {% for post in site.posts %}
					        {% if page.related contains post.title %}
					        {% if page.title != post.title %}
					            <li class="navigation">  
							   	<a href="{{ BASE_PATH }}{{ post.url }}"><img src="{{ post.image }}"></a>
							   <a href="{{ BASE_PATH }}{{ post.url }}"  class="title">{{ post.title }}</a>  
							   </li>
							{% endif %}
					        {% endif %}
					    {% endfor %}
				    </ul>
				</div>
				{% endif %}
			</div>
		</aside>
	</div>
	{% if content and page.related %}
	<div class="section-block" style="padding-top: 0;">
		<div class="row">
			<div class="column width-12">
				<h3 style="padding-bottom: 20px;" class="text-uppercase">Related Posts</h3>
				<div class="row content-grid-3 masonry-grid clearfix">
					{% for post in site.posts %}
				        {% if page.related contains post.title %}
					        {% if page.title != post.title %}
							<div class="grid-item grid-sizer">
								<article class="post">
									<div class="post-media">
										<div class="thumbnail overlay-slide-in-left" data-hover-easing="swing">
											<a class="overlay-link" href="{{ post.url }}">
												<img src="{{ post.image }}" alt=""/>
												<span class="overlay-info">
													<span>
														<span>
															<span class="project-title">VIEW POST</span><br>
														</span>
													</span>
												</span>
											</a>
										</div>
									</div>
									<div class="post-content with-background">
										<h2 class="post-title text-uppercase" style="margin-bottom: 30px;"><a href="{{ post.url }}">{{post.title}}</a></h2>
										<div class="post-read-more">
											<a href="{{ post.url }}" class="button bkg-charcoal bkg-hover-charcoal color-white color-hover-white read-more">Read Post</a>
										</div>
									</div>
								</article>
							</div>
							{% endif %}
				        {% endif %}
				    {% endfor %}
				</div>
			</div>
		</div>
	</div>
	{% endif %}
</div>
<script type="text/javascript">
	$(function(e) {
	  $(".tweet-quote").click(function() {
	      var tweetText = encodeURI('"' + $(this).text() + '"');
	      var href = "https://twitter.com/intent/tweet?text=" + tweetText +
	          "&url={{ page.shortUrl }}&via=NgageContent";

	      window.open(href, 'child', 'scrollbars,width=650,height=500');
	  });
	});
</script>